<div class="search-bar">
  <input
    class="search-bar-input"
    type="search"
    placeholder="<%= placeholder %>"
  />
  <button class="search-bar-btn">
    <img src="/svg/magnify.svg" />
  </button>
</div>
