<!DOCTYPE html>
<html lang="en">
  <%- include("partials/head") %>
  <body>
    <%- include("partials/header") %>
    <main>
      <h4>Esto es un texto de prueba</h4>
    </main>
    <%- include("partials/footer") %>
  </body>
</html>
