<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head", {title: "Home"}) %>
  <body class="body">
    <div>
      <%- include("../partials/header", {showBar: true}) %>
      <main class="main">
        <%- include("../partials/category-bar") %>
        <div class="red rectangle"></div>
      </main>
    </div>
    <%- include("../partials/footer") %>
  </body>
</html>
