<div class="category-bar-container">
  <div class="category-bar flex-center-between">
    <a href="#" class="category">
      <img src="/svg/tablet-cellphone.svg" alt="Categoría de Electrónica" />
      <p>Electrónica</p>
    </a>

    <div class="category-bar-separator"></div>

    <a href="#" class="category">
      <img src="/svg/hamburger.svg" alt="Categoría de Alimentos" />
      <p>Alimentos</p>
    </a>

    <div class="category-bar-separator"></div>

    <a href="#" class="category">
      <img src="/svg/glass-mug-variant.svg" alt="Categoría de Bebibas" />
      <p>Bebidas</p>
    </a>

    <div class="category-bar-separator"></div>

    <a href="#" class="category">
      <img src="/svg/tshirt-crew.svg" alt="Categoría de Indumentaria" />
      <p>Indumentaria</p>
    </a>

    <div class="category-bar-separator"></div>

    <a href="#" class="category">
      <img src="/svg/controller-classic.svg" alt="Categoría de Juegos" />
      <p>Juegos</p>
    </a>

    <div class="category-bar-separator"></div>

    <a href="#" class="category">
      <img src="/svg/steering.svg" alt="Categoría de Automotor" />
      <p>Automotor</p>
    </a>

    <div class="category-bar-separator"></div>

    <a href="#" class="category">
      <img src="/svg/sofa-single.svg" alt="Categoría de Hogar" />
      <p>Hogar</p>
    </a>

    <div class="category-bar-separator"></div>

    <a href="#" class="category">
      <img src="/svg/gift-outline.svg" alt="Categoría de Otros" />
      <p>Otros</p>
    </a>
  </div>
</div>
