.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 7.2rem;
  width: 100vw;
  padding: 1.5rem;
  color: var(--letter);
  background-color: var(--primary);
  position: fixed;
  z-index: 1;
}

.headerTitleContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.headerTitle {
  color: var(--letter);
  display: block;
}

.menu {
  width: 3rem;
  cursor: pointer;
  display: block;
  filter: var(--svg);
}

.chevron {
  width: 3rem;
  filter: var(--svg);
}

.rightHeader {
  width: 100%;
  display: flex;
  gap: 2rem;
  justify-content: flex-end;
}

.plusIcon {
  width: 1.2rem;
  filter: var(--svg);
}

@media (min-width: 1025px) {
  .menu {
    display: none;
  }

  .header {
    width: calc(100vw - 29.6rem);
  }
}
