.sideBar {
  background-color: var(--sideBarMobile);
  backdrop-filter: blur(0.5rem);
  width: 29.6rem;
  min-height: 100%;
  transform: translateX(-100%);
  overflow-x: hidden;
  position: fixed;
  z-index: 3;
  padding: 1.5rem;
  outline: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sideBarLinks {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.logo {
  width: 24rem;
}

.logoAndSideBarLinks {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.switchAndButtonContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.changeTheme {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  gap: 1.5rem;
  color: var(--letter);
  font-weight: 400;
}

@media (min-width: 1025px) {
  .sideBar {
    background-color: var(--sideBarDesktop);
    transform: translateX(0);
    position: initial;
  }
}
