html {
  --primary: #222;
  --letter: white;
  --btn: #494f51;
  --sideBarDesktop: black;
  --sideBarMobile: #00000080;
  --box: #302f2f;
  --svg: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%)
    contrast(103%);

  /* overflow-y: scroll; */
}

.hasScrollBar {
  padding-right: 2rem;
}

html[theme='light'] {
  --primary: #efefef;
  --letter: black;
  --sideBarDesktop: white;
  --sideBarMobile: #ffffff80;
  --box: white;
  --svg: none;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primary);
  min-height: 100vh;
}

code {
  font-family: 'Open Sans', sans-serif;
}
